<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>{{email}}</p>
    </body>
</html>